

{% block file_widget %}

{#{{ block('form_widget') }}#}
{% if image_url and image_id is not null %}

            <img src="{{ asset(image_url) }}"/>

            <button id="rm-img" type="button" class="btn btn-danger">Supprimer</button>
        {% endif %}

{% endblock %}
