
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for trick in tricks %}
                <div class="col-md-2">

                    <a class="">
                        <img src="{{ asset(trick.fileName ~ trick.ext) }}" class="img-thumbnail" />
                    </a>
                    <h6>{{ trick.name }}</h6>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}