{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Validation Message{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        <h3>Un email de confirmation vient de vous être envoyé !</h3>
    </div>
</div>

{% endblock %}