{# templates/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tous les Tricks :</h1>

    {% for trick in tricks %}
        <div>
            {{ trick.nameTrick }}<br />
            {{ trick.descriptionTrick }}<br />
            {{ trick.grpTrick}}<br />
        </div>

    {% endfor %}

{% endblock %}